<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotificationsFor</key>
	<integer>0</integer>
	<key>RepeatInterval</key>
	<integer>5</integer>
	<key>DefaultPreferenceViewController</key>
	<string>MRGeneralPreferencesViewController</string>
	<key>ServiceRestoredNotification</key>
	<true/>
	<key>enableNotifications</key>
	<true/>
	<key>openAfterCreateRepo</key>
	<false/>
	<key>copyAfterCreateRepo</key>
	<false/>
	<key>openAfterCreateGist</key>
	<false/>
	<key>copyAfterCreateGist</key>
	<false/>
	<key>RemoveNotificationsOnClick</key>
	<true/>
</dict>
</plist>
